---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import "../styles/global.css";



const latestPosts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
).slice(0, 3)
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	
	<body>
		<Header />
		<main>
			<h1 class="text-4xl">Hello coders 👋</h1>
			<p>
				Welcome to my corner of the internet, where backend development meets fresh ideas and practical solutions!			
			</p>
			<p>
				My goal is to inspire you to experiment with new skills, adopt modern tools, and continuously evolve as a developer. 
				So grab a coffee, dig into the posts, and let’s build something great together! 🚀
			</p>
			<hr/>
			<h4 class="py-8">Latest posts</h3>
			<section>
				<ul>
					{
						latestPosts.map((post) => (
							<li>
								<a href={`/blog/${post.id}/`}>
									<h4>{post.data.title}</h4>
									<p class="text-gray-400 m-0 text-sm">
										<FormattedDate date={post.data.pubDate} />
									</p>
									<p class="text-gray-400 m-0">
										{post.data.description.slice(0, 200)}...
									</p>
								</a>
								<br/>
							</li>
						))
					}
				</ul>
				<a href="/blog" class="decoration-0">
					<div class="flex text-black justify-center">
						See more
					</div>
				</a>
			</section>
		</main>
		<Footer />
	</body>
</html>
